@*@model IEnumerable<Project.Models.feedback>*@
@model FiveGroup.ViewModel.FeedbackClass
@{
    ViewBag.Title = "Index";
}
<!-----------Create應透過使用者新增資料(意見回饋),為了方便測試先擺這^^----------------->
<!-->@Html.ActionLink("意見箱", "Create", new { }, new { @class = "btn btn-info" })<!-->
<!------------------------------------------------------------------------------------->

    @*<div class="card mt-4">
        <div class="card-header">
            <ul class="nav nav-tabs nav-fill" id="mytab">
                @foreach (var item in Model.Feedback_Classes)
                {
                    <li class="nav-item">
                            @Html.ActionLink(item.class_content, "Index", new { f_class = item.f_class }, new { @class = "nav-link alert-secondary text-secondary"})
                    </li>
                }
            </ul>
        </div>
        <div class="card-body">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="w-auto text-center">時間</th>
                            <th class="w-auto text-center">讀取狀態</th>
                            <th class="w-auto"></th>
                        </tr>
                    </thead>


                    @foreach (var item in Model.Feedbacks)
                    {
                        <tr class="text-center">
                            <td>@Html.DisplayFor(model => item.f_date)</td>
                            <td>
                                @if (@item.f_checked == false)
                                {
                                    <span class="badge badge-danger">尚未讀取</span>
                                }
                                else
                                {
                                    <span class="badge badge-success">已讀取</span>
                                }

                            </td>
                            <td>
                                @Html.ActionLink("編輯", "Edit", new { id = item.f_sn, f_class = ViewBag.f_class }, new { @class = "btn btn-info" })
                                @Html.ActionLink("詳細資訊", "Details", new { id = item.f_sn, f_class = ViewBag.f_class }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("刪除", "Delete", new { id = item.f_sn, f_class = ViewBag.f_class }, new { @class = "btn btn-danger", onclick = "return confirm('您確定要刪除嗎??')" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>*@



<div>
    <div class="row">
            @foreach (var item in Model.Feedback_Classes)
            {
                <div class="w-auto text-center">@Html.ActionLink(item.class_content, "Index", new { f_class = item.f_class })</div>
            }
        </div>

</div>
<hr />
<div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th class="w-auto text-center">時間</th>
                    <th class="w-auto text-center">讀取狀態</th>
                    <th class="w-auto"></th>
                </tr>
            </thead>


            @foreach (var item in Model.Feedbacks)
            {
                <tr class="text-center">
                    <td>@Html.DisplayFor(model => item.f_date)</td>
                    <td>
                        @if (@item.f_checked == false)
                        {
                            <span class="badge badge-danger">尚未讀取</span>
                        }
                        else
                        {
                            <span class="badge badge-success">已讀取</span>
                        }

                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = item.f_sn, f_class = ViewBag.f_class }, new { @class = "btn btn-info" })
                        @Html.ActionLink("詳細資訊", "Details", new { id = item.f_sn, f_class = ViewBag.f_class }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("刪除", "Delete", new { id = item.f_sn, f_class = ViewBag.f_class }, new { @class = "btn btn-danger", onclick = "return confirm('您確定要刪除嗎??')" })
                    </td>
                </tr>
            }

        </table>
    </div>
